<html>

<head>
    <%- include('layout/head'); -%>
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>
        <%= message %>
    </p>
    <img src="<%= imgSrc %>" />

    <a href="/">HomePage</a>

    <%- include('layout/footer'); -%>
</body>

</html>